<EditForm Model="@Player" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div>
        <div>
            <label>Initials :</label>
            <div>
                <InputText @bind-Value="@Player.Initials" />
                <ValidationMessage For="@(() => Player.Initials)" />
            </div>
        </div>
    </div>
    <div>
        <div>
            <label>Score :</label>
            <div>
                <InputNumber @bind-Value="@Player.Score" />
                <ValidationMessage For="@(() => Player.Score)" />
            </div>
        </div>
    </div>
    <button type="submit">@ButtonText</button>
</EditForm>

@code {

    [Parameter] public Player Player { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

} 
