@inject ConnectFourApp.Client.Shared.State State
@using ConnectFourApp.Client.Components

<div class="page-container">

    <header>
        <nav class="nav-menu">
            <button type="button">menu</button>
            <img src="./assets/images/logo.svg" alt="logo" class="logo" />
            <button @onclick="@ResetGame">restart</button>
        </nav>
    </header>

    <div class="play-menu">
        <span class=@($"marker{State.CurrentPlayer} a") @onclick="() => PlayPiece(0)"></span>
        <span class=@($"marker{State.CurrentPlayer} b") @onclick="() => PlayPiece(1)"></span>
        <span class=@($"marker{State.CurrentPlayer} c") @onclick="() => PlayPiece(2)"></span>
        <span class=@($"marker{State.CurrentPlayer} d") @onclick="() => PlayPiece(3)"></span>
        <span class=@($"marker{State.CurrentPlayer} e") @onclick="() => PlayPiece(4)"></span>
        <span class=@($"marker{State.CurrentPlayer} f") @onclick="() => PlayPiece(5)"></span>
        <span class=@($"marker{State.CurrentPlayer} g") @onclick="() => PlayPiece(6)"></span>
    </div>

    <main>
    
        <PlayerScoreBoardComponent PlayerNum="1" ImgSrc="./assets/images/player-one.svg" />

        <div class="board-container">
            <img src="./assets/images/board-layer-black-large.svg" class="board-layer_black" alt="" />
            <div class="board">
                @for (var i = 0; i < 42; i++)
                {
                    <span class="board-cell"><span></span></span>
                }

            </div>

            @for (var i = 0; i < 42; i++)
            {
                <span class="@Chips[i]"></span>
            }

            <img src="./assets/images/board-layer-white-large.svg" class="board-layer_white" alt="" />
        </div>

        <PlayerScoreBoardComponent PlayerNum="2" ImgSrc="./assets/images/player-two.svg" />

    </main>

    <YourTurnComponent PlayerFill=@State.CurrentPlayer Winner=@Winner />

    <div class="winning-message" style="@ResetWinner">
        <span class="winner">@($"PLAYER {Winner}")</span>
        <span>wins</span>
        <button class="reset-button" @onclick="@ResetGame">play again</button>
    </div>



</div>

@code {

    private string[] Chips = new string[42];

    private string Winner = string.Empty;

    private string ErrorMessage = string.Empty;

    private string ResetWinner => (Winner == string.Empty) ? "display: none;" : "";

    protected override void OnInitialized()
    {
        State.ResetBoard();
    }

    private void PlayPiece(byte column)
    {
        ErrorMessage = string.Empty;

        try
        {
            var playedCell = State.PlayPiece(column);
            var addCssClass = $"player{State.CurrentPlayer} column{column} drop{playedCell}";
            Chips[State.CurrentTurn - 1] = addCssClass;
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }

        Winner = State.CheckForWin() switch
        {
            State.WinState.Player1_Wins => "1",
            State.WinState.Player2_Wins => "2",
            State.WinState.Draw => "TIE",
            _ => ""
        };
    }



    void ResetGame()
    {
        State.ResetBoard();
        Winner = string.Empty;
        ErrorMessage = string.Empty;
        Chips = new string[42];
    }

}